@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Montserrat:wght@300;400&family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font: "Montserrat", sans-serif;
    --accent-font: "Play", Verdana;
    --secondary-font: "Comfortaa", "Gill Sans";
    --light-background: #fff;
    --mid-background: #888;
    --dark-background: #333;
    --main-font-color: #000;
    --accent-font-color: rgb(216, 188, 152);
    --border-color: white;
    --cursive-font: "Courgette", cursive;
    --navbar-color: rgb(168, 132, 85);
}

html {
    font-family: var(--main-font);
    font-size: 15px;
    scroll-behavior: smooth;
}

.container {
    position: relative;
}

header {
    position: fixed;
    background: var(--navbar-color);
    width: 100%;
    padding: 1rem;
    z-index: 1;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

header ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    margin: 0 auto;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: var(--main-font-color);
    padding: .3rem;
    font-weight: 500;
}

header button {
    cursor: pointer;
    border-radius: 1rem;
    padding: .9rem;
    font-family: var(--secondary-font);
    border: var(--border-color) solid 3px;
    background-color: var(--dark-background);
    color: var(--light-background);
    transition: padding .5s;
}

header button:hover {
    background-color: var(--dark-background);
    padding: .8rem;
}


/*hero section*/

.hero {
    background: url("photos/hero.jpg") center no-repeat;
    background-size: cover;
    height: 83vh;
}

.full-heading {
    position: absolute;
    line-height: 3.4rem;
    color: var(--light-background);
    width: 50vw;
    height: 83vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}


.main-heading {
    font-size: 2rem;
    font-family: var(--cursive-font);
    text-shadow: 3px 3px 3px var(--dark-background);
}

.sub-heading {
    font-family: var(--secondary-font);
    color: var(--accent-font-color);
    letter-spacing: .07rem;
}

.hero-grid {
    /*position: absolute allows us to position it based on the screen and not it's original position, like relative.
    This means that the grid is a little more responsive.*/
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5vh;
    align-items: center;
    justify-items: center;
    width: 50vw;
    left: 50vw;
    top: 20vh;
}

.hero-grid img {
    width: 18rem;
    height: 10rem;
    border: .5rem white solid;
    border-radius: 1rem;
}

.hero-grid:nth-child(2),
.hero-grid:last-child {
    margin-right: 10vw;
}

.full-heading button {
    position: relative;
    top: .6rem;
    padding: 1.1rem;
    border: .3rem var(--border-color) solid;
    border-radius: 1rem;
    background-color: rgb(131, 112, 87);
    font-family: var(--main-font);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

/*About Us*/

.other-headings {
    color: var(--accent-font-color);
    font-family: var(--secondary-font);
    font-weight: 400;
}

.about-us img {
    width: 30rem;
    height: 40rem;
    order: 1;
    margin: 2rem;
    margin-right: 5rem;
    border-radius: .4rem;
}

.content {
    display: flex;
}

.text {
    width: 50%;
    margin-top: 5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 4rem;
    font-size: 1.35rem;
}

.about-us .text {
    order: 2;
}

/*Our Mission*/
.our-mission .content {
    display: flex;
    margin: 1rem;
}

.our-mission img {
    height: 22.5rem;
    width: 45rem;
    /*It only worked with a negative value LOL*/
    order: -1;
    margin: 1rem;
    flex: 1 2 45rem;
    border-radius: 1rem;
}

.our-mission .text {
    order: 0;
    margin: 1rem;
    margin-bottom: 2rem;
    flex: 1 1 20rem;
}

.our-mission a {
    color: var(--navbar-color);
}

.our-mission a:hover {
    text-decoration: underline;
}

/*Music for everyone*/
.music-for-everyone .between {
    background: url("photos/music-for-everyone.jpg") center no-repeat;
    background-size: cover;
    height: 75vh;
    margin-bottom: 7.6rem;
}

.between {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2;
    color: var(--light-background);
    letter-spacing: .25rem;
    font-size: 2rem;
    text-shadow: 4px 4px 4px var(--dark-background);
    border-radius: .3rem;
}

.portfolio {
    margin-top: 3rem;
}

.music-for-everyone .portfolio .text h3 {
   font-family: var(--secondary-font);
   color: var(--dark-background);
}

.music-for-everyone .text {
    font-size: 2rem;
    margin: 2rem auto;
    font-family: var(--secondary-font);
}

.cursive {
    font-family: var(--cursive-font);
    color: #888;
}

.music-for-everyone .underline {
    border-bottom: var(--accent-font-color) .2rem solid;
    border-radius: .5rem;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.flexbox img {
    max-width: 25rem;
    margin: 1rem;
    border-radius: .5rem;
}

/*More info*/
.info-content {
    text-align: center;
    margin: 2rem 0;
    line-height: 2.5rem;
}

.info-content .heading {
    display: inline;
    font-size: 2rem;
    margin-bottom: .4rem;
    border-bottom: var(--accent-font-color) 2px solid;
}

.gray-out {
    color: #888;
}

/*Footer*/
.footer {
    background: var(--dark-background);
    border-radius: .5rem;
    text-align: center;
    height: 40vh;
    font-size: 1.5rem;
    color: white;
}

.email-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.footer-content {
    transform: translateY(2.5rem);
    line-height: 3rem;
}

.footer input[type="text"] {
    padding: .65rem;
    border-radius: 1rem;
}

.footer button[type="submit"] {
    padding: .65rem;
    font-family: var(--main-font);
    color: white;
    border-radius: 1rem;
    background-color: rgb(177, 73, 41);
}

/*media queries*/
@media screen and (max-width: 1245px) {
    /*hero section*/
    .hero-grid {
        display: none;
    }

    .full-heading {
        width: 100vw;
    }

    /*about us + our mission*/
    .content {
        flex-direction: column;
        align-items: center;
    }

    .text {
        width: 100%;
    }

    .about-us img {
        display: none;
    }

    .our-mission .text {
        order: 2;
    }

    .our-mission img {
        order: 1;
    }
}

@media screen and (max-width: 968px) {
    /*navbar*/
    .navbar li:not(.sign-up),
    .navbar li:not(.log-in) {
        display: none;
    }
}

@media screen and (max-width: 675px) {
    .our-mission img {
        background-size: cover;
    }
    
    .container {
        font-size: .3rem;
    }
}







/*keyframes*/
