@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Montserrat:wght@300;400&family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font: "Montserrat", sans-serif;
    --accent-font: "Play", Verdana;
    --secondary-font: "Comfortaa", "Gill Sans";
    --light-background: #fff;
    --mid-background: #888;
    --dark-background: #333;
    --main-font-color: #000;
    --accent-font-color: rgb(216, 188, 152);
    --border-color: white;
    --cursive-font: "Courgette", cursive;
    --navbar-color: rgb(168, 132, 85);
}

html {
    font-family: var(--main-font);
    font-size: 15px;
    scroll-behavior: smooth;
}

.container {
    position: relative;
}

header {
    position: fixed;
    background: var(--navbar-color);
    width: 100%;
    padding: 1rem;
    z-index: 1;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

header ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    margin: 0 auto;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: var(--main-font-color);
    padding: .3rem;
    font-weight: 500;
}

header button {
    cursor: pointer;
    border-radius: 1rem;
    padding: .9rem;
    font-family: var(--secondary-font);
    border: var(--border-color) solid 3px;
    background-color: var(--dark-background);
    color: var(--light-background);
    transition: padding .5s;
}

header button:hover {
    background-color: var(--dark-background);
    padding: .8rem;
}


/*hero section*/

.hero {
    background: url("photos/hero.jpg") center no-repeat;
    background-size: cover;
    height: 83vh;
}

.full-heading {
    position: absolute;
    text-align: center;
    line-height: 3.4rem;
    color: var(--light-background);
    left: 14rem;
    top: 12rem;
}

.main-heading {
    font-size: 2rem;
    font-family: var(--cursive-font);
    text-shadow: 3px 3px 3px var(--dark-background);
}

.sub-heading {
    font-family: var(--secondary-font);
    color: var(--accent-font-color);
}

.hero-grid {
    /*position: absolute allows us to position it based on the screen and not it's original position, like relative.
    This means that the grid is a little more responsive.*/
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    width: 10rem;
    top: 8.5rem;
    right: 30rem;
}

.hero-grid img {
    width: 18rem;
    height: 10rem;
    border: .5rem white solid;
    border-radius: 1rem;
}

.full-heading button {
    position: relative;
    top: .6rem;
    padding: 1.1rem;
    border: .3rem var(--border-color) solid;
    border-radius: 1rem;
    background-color: rgb(131, 112, 87);
    font-family: var(--main-font);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

/*About Us*/

.other-headings {
    color: var(--accent-font-color);
    font-family: var(--secondary-font);
    font-weight: 400;
}

.about-us img {
    width: 30rem;
    height: 40rem;
    order: 1;
    margin: 2rem;
    margin-right: 5rem;
}

.content {
    display: flex;
}

.text {
    width: 50%;
    margin-top: 5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 4rem;
    font-size: 1.35rem;
}

.about-us .text {
    order: 2;
}

/*Our Mission*/
.our-mission .content {
    display: flex;
    margin: 1rem;
}

.our-mission img {
    height: 22.5rem;
    width: 45rem;
    /*It only worked with a negative value LOL*/
    order: -1;
    margin: 1rem;
    flex: 1 2 45rem;
}

.our-mission .text {
    order: 0;
    margin: 1rem;
    flex: 1 1 20rem;
}

.our-mission a {
    color: var(--navbar-color);
}

.our-mission a:hover {
    text-decoration: underline;
}

/*Music for everyone*/
.music-for-everyone .between {
    background: url("photos/music-for-everyone.jpg") center no-repeat;
    background-size: cover;
    height: 75vh
}

.between {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-background);
    letter-spacing: .25rem;
    text-shadow: 4px 4px 4px var(--dark-background);
    border-radius: .3rem;
}

.music-for-everyone h3 {
   font-family: var(--cursive-font);
   color: var(--accent-font-color);
}

.music-for-everyone .text {
    font-size: 2rem;
}












